# Python
__pycache__/
*.pyc
*.pyo
*.pyds
.Python/
env/
venv/
*.ipynb_checkpoints/
.env

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Resultados (se você gerar arquivos grandes)
/data/processed/
/images/
/plots/